version: '3.9'

services:

  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    image: app
    container_name: go03
    restart: unless-stopped
    networks:
      - golangnetwork
    ports:
      - "8000:8000"


  moto_aws:
    image: motoserver/moto:5.0.13
    container_name: aws04
    depends_on:
      - api
    ports:
      - "5000:5000"
    network_mode: bridge  

networks:
  golangnetwork: