version: '3.9'

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" 
      - "9001:9001"  
    volumes:
      - ./data:/data 
    networks: 
      - golangnetwork

  api:
    build:
      context: .
      dockerfile: ./build/api/Dockerfile
    env_file: .env
    image: app
    depends_on:
      - minio
    container_name: go03
    restart: unless-stopped
    networks: 
      - golangnetwork
    ports:
      - "8000:8000"

networks:
  golangnetwork: